body{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
    line-height: 2;
}
h1{
  color:#111d5e;
  font-size: 5.625rem;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
}
h2{
    color:#7c3c21;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3{
  color:#7c3c21;
font-family: 'Montserrat', sans-serif;
font-size: 1.875rem;
}
hr{
  border-style: dotted none none none;
  border-width: 5px;
  border-color:grey;
  height: 0px;
  width:5%;
  margin-top:90px;
  margin-bottom:90px;
}
.img-mine{
  position: relative;
  width: 15%;
}
.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
background-color:white;
}
.top-img{
  position:relative;
  left: 140px;
}
.mid-img{
  position: relative;
  right:200px;
}
.links-img{
  width:30px;
  height: 30px;
}
.buttoncontact{
  background-color: #008CBA;
  font-size: 32px;
  width: 25%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 16px;
  color: white;
}
.buttoncontact:hover{
  color: white;
  background-color:  #008CBA;
}
.bottom-container{
  background-color:#E4F9F5;
}
.contactpage{
    background-color:#E4F9F5;
}
.message-img{
  position: relative;
  width: 20%;
  float:left;
  margin-right: 0px;
  margin-left: 200px;
}
.message-img1{
  position: relative;
  width: 25%;
}
.submitbtn{
  margin-top: 30px;
  margin-left:350px;
}
